# Dependency directories
node_modules/

# Cloudflare Wrangler specific
.wrangler/
.dev.vars

# Compiled output
dist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata
.DS_Store
Thumbs.db

# Secrets
.secret
.env
.env.*
